.calculate {
  // .calculate__list
  &__list {
    @include flex($flex-direction: column);
    gap: 20px;
    padding: 20px 30px 30px 55px;
  }
  // .calculate__item
  &__item {
    @include flex($flex-direction: column);
    gap: 20px;

    padding-bottom: 25px;
  }
  // .calculate__title
  &__title {
    font-family: "TrebuchetMS";
  }
  // .calculate__box-wrap
  &__box-wrap {
    @include flex($flex-wrap: wrap);
    gap: 20px;

    margin-bottom: 40px;
  }
  // .calculate__box-inner
  &__box-inner {
    @include flex($flex-direction: column);
    gap: 10px;
    max-width: 640px;

    padding-bottom: 20px;
    &:first-child {
      width: 61%;
    }
  }
  // .calculate__subtitle
  &__subtitle {
    font-family: "Segoe UI Semibold";
  }
  // .calculate__table
  &__table {
    &--border {
      padding-bottom: 10px;
      border-bottom: 1px solid #ebeaea;
    }
    .left {
      text-align: left;
      max-width: 450px;
    }
    .red {
      color: #f75445;
    }
    .green {
      color: #6ab932;
    }
    th {
      font-family: "Segoe UI Semibold";

      font-weight: 600;
      color: #44424b;
      height: 66px;
    }
    td {
      font-family: "Segoe UI";

      font-weight: 400;
      color: #44424b;

      padding: 18px 0 17px;
    }
    tr {
      text-align: center;
    }
    tbody tr {
      &:nth-child(odd) {
        background-color: #e5e5e5;
      }
    }
  }
  // .calculate__box-img
  &__box-img {
    @include flex(center, center);
    width: 390px;
    height: 215px;
    border: 1px solid #ffffff;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
  }

  // .calculate__box-range
  &__box-range {
    @include flex($flex-direction: column);
    gap: 20px;
    position: relative;
    padding-left: 10px;
  }
  // .calculate__label
  &__label {
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #424242;
  }

  // .calculate__range-span
  &__range-span {
    position: absolute;
    bottom: 0;
    // &::before {
    //   @include pseudo;
    //   @include wh(2px, 15px);
    //   background-color: #69676e;

    //   opacity: 0.3;
    // }
    &:first-child {
      left: 13%;
    }
    &:nth-child(2) {
      left: 20%;
    }
    &:last-child {
      left: 31%;
    }
  }
  // .calculate__table--border
  &__table--border {
  }
  // .calculate__table-img
  &__table-img {
  }
  // .calculate__wrap
  &__wrap {
    @include flex(space-between, center);
    position: relative;
  }
  
  // .calculate__img-graph
  &__img-graph {
    position: relative;
    padding-bottom: 10px;
  }
  // .calculate__span-absolute
  &__span-absolute {
    @include pos(absolute, $bottom: -5px, $left: 10px);
  }
  // .calculate__wrap-content
  &__wrap-content {
    @include flex($align-items: center);
    gap: 10px;
    &--border {
      padding-bottom: 10px;
      border-bottom: 1px solid #ebeaea;
      margin-bottom: 15px;
    }
  }
  // .calculate__span-data
  &__span-data {
    @include flex(center, center);
    @include wh(11px);
    border-radius: 50%;

    border: 1px solid #121212;
    font-family: "Segoe UI";
    font-size: 6px;
    line-height: 18px;
    font-weight: 400;
    color: $primaryTextColor;
    &--black {
      background-color: #121212;
    }
    &--blue {
      background-color: #0000ff;
    }
    &--light-blue {
      background-color: #0088ff;
    }
  }
  // .calculate__text-data
  &__text-data {
    font-family: "Segoe UI";
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    color: $primaryTextColor;
  }
}
