.construction {
	// .construction__form
	&__form {
		width: 1140px;
height: 461px;
background-color: #ffffff;
box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
border-radius: 2px;
	}
	// .construction__wrapper
	&__wrapper {}
	// .construction__box-content
	&__box-content {}
	// .construction__subtitle
	&__subtitle {}
	// .construction__list
	&__list {}
	// .construction__item
	&__item {}
	// .construction__radio-button
	&__radio-button {}
	// .construction__img
	&__img {}
	// .construction__text
	&__text {}
	// .construction__span
	&__span {}
	// .construction__select
	&__select {}
	// .construction__btn-group
	&__btn-group {}
	// .construction__btn
	&__btn {}
}
.container {
}
.contstruction {
	// .contstruction__title
	&__title {}
}
.title {
}
.title--type {
}
.title--left {
}
.subtitle {
}
.btn {
}
