.construction {
  // .construction__form
  &__form {
    padding: 30px 30px 30px 70px;
    @include flex($flex-direction: column);
    gap: 25px;

    background-color: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
  // .construction__title
  &__title {
    font-family: "Verdana";
    font-size: 14px;

    color: #63685f;
  }
  // .construction__wrapper
  &__wrapper {
    @include flex($flex-direction: column);
    gap: 20px;
  }
  // .construction__box-content
  &__box-content {
    @include flex($flex-direction: column);
    gap: 20px;

    &:nth-child(2) {
      max-width: 700px;
    }
  }
  // .construction__subtitle
  &__subtitle {
    font-family: "Segoe UI Semibold";
    max-width: 130px;
  }
  // .construction__list
  &__list {
    @include flex(space-between, center, wrap);

    padding: 0 90px 0 50px;
    &:last-child {
      .construction__label {
        height: 120px;
      }
    }
  }

  .construction__label {
    cursor: pointer;
    @include flex($align-items: center, $flex-direction: column);
    position: relative;
    gap: 10px;
    width: 172px;

    height: 99px;
    padding: 10px 0;
    &:focus {
      border: none;
      background-color: #ffffff;
      box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
      .construction__label {
        cursor: pointer;
        &::before {
          border: 1px solid #35414c;
          background-color: #35414c;

          @include wh(17px);
          border-radius: 50%;
          @include pseudo;

          @include pos(absolute, $top: 5px, $right: 8px);
        }
        &::after {
          @include pseudo;
          @include background(url("@img/construction/check.png"));
          @include wh(9px, 8px);
          @include pos(absolute, $top: 9px, $right: 12px);
        }
      }
    }
    &:hover {
      border: 1px solid #b9b9b9;
      &::before {
        cursor: pointer;
        @include wh(17px);
        border-radius: 50%;
        @include pseudo;

        border: 1px solid #b9b9b9;
        @include pos(absolute, $top: 5px, $right: 8px);
      }
    }
  }
  .construction__radio:checked + .construction__label::before {
    border: 1px solid #35414c;
    background-color: #35414c;

    @include wh(17px);
    border-radius: 50%;
    @include pseudo;

    @include pos(absolute, $top: 5px, $right: 8px);
  }

  .construction__radio:checked + .construction__label::after {
    @include pseudo;
    @include background(url("@img/construction/check.png"));
    @include wh(9px, 8px);
    @include pos(absolute, $top: 9px, $right: 12px);
  }

 

  // .construction__radio
  &__radio {
    display: none;
  }

 
  // .construction__btn-group
  &__btn-group {
    @include flex();
    gap: 30px;
    align-self: flex-end;
  }
  
  .select__title {
    border: none;
    height: 15px;
  }
  .select__value {
    &::before {
      right: 0;
    }
  }
}



