.main {
	padding: 185px 0;
	// .main__wrapper
	&__wrapper {
		@include flex($flex-direction: column);
	}
	// .main__title
	&__title {
		padding-left: 70px;
		position: relative;
		margin-bottom: 36px;
		&::before{
			@include pseudo;
			@include background (url("@img/main/points.png"));
			@include wh(39px, 8px);
			@include pos(absolute, $bottom: 13px, $left: 13px);
			
		}

	}
	// .main__subtitle
	&__subtitle {
		margin-bottom: 40px;
	}
	// .main__wrap
	&__wrap {
		@include flex (space-between, $flex-wrap: wrap);
		
	}
	// .main__content
	&__content {
		@include flex (space-between, $flex-wrap: wrap);
		gap: 5px;
		max-width: 560px;
	}
	// .main__text
	&__text {
		&:first-child{
			text-indent: 1.5em;
		}
	}
	// .main__box-img
	&__box-img {
		margin-right: 60px;
	}
	// .main__img
	&__img {}
}
