.report {
  // .report__title
  &__title {
    font-family: "Verdana";
    font-size: 14px;

    font-weight: 400;

    color: #63685f;
  }
  // .report__list
  &__list {
    @include flex($flex-direction: column);
    gap: 20px;
    padding: 20px 30px 30px 55px;

    background-color: #ffffff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
  }
  // .report__item
  &__item {
    @include flex($flex-direction: column);
    gap: 20px;
    border-bottom: 1px solid #ebeaea;
    padding-bottom: 25px;
    &:last-child {
      border-bottom: none;
    }
  }
  // .report__box-wrap
  &__box-wrap {
    @include flex($flex-wrap: wrap);
    gap: 20px;

    margin-bottom: 40px;
  }
  // .report__box-inner
  &__box-inner {
    @include flex($flex-direction: column);
    gap: 10px;
    max-width: 640px;

    border-bottom: 1px solid #ebeaea;
    padding-bottom: 20px;
    &:first-child {
      width: 61%;
    }
  }
  // .report__subtitle
  &__subtitle {
    font-family: "Segoe UI";
    margin-bottom: 15px;
  }
  // .report__table
  &__table {
    &--border {
      padding-bottom: 10px;
      border-bottom: 1px solid #ebeaea;
    }
    .left {
      text-align: left;
    }
    .red {
      color: #f75445;
    }
    .green {
      color: #6ab932;
    }
    th {
      height: 31px;
      font-family: "Segoe UI";
      font-size: 10px;
      line-height: 18px;
      font-weight: 600;
      color: #44424b;
      &:first-child {
        width: 5%;
      }
    }
    td {
      height: 31px;
      font-family: "Segoe UI";
      font-size: 12px;
      line-height: 18px;

      color: #44424b;
    }
    tr {
      text-align: center;
    }
    tbody tr {
      &:nth-child(odd) {
        background-color: #f9f9f9;
      }
    }
  }
  // .report__box-range
  &__box-range {
    @include flex($flex-direction: column);
    gap: 20px;
    position: relative;
    padding-left: 10px;
  }
  // .report__label
  &__label {
    font-family: "Segoe UI";
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #424242;
  }
  // .report__span-group
  &__span-group {
  }
  // .report__range-span
  // .climate__range-span
  &__range-span {
    position: absolute;
    bottom: 0;
    // &::before {
    //   @include pseudo;
    //   @include wh(2px, 15px);
    //   background-color: #69676e;

    //   opacity: 0.3;
    // }
    &:first-child {
      left: 13%;
    }
    &:nth-child(2) {
      left: 20%;
    }
    &:last-child {
      left: 31%;
    }
  }
  // .report__table-img
  &__table-img {
  }
  // .report__wrap
  &__wrap {
    @include flex(space-between, center);
    position: relative;
  }
  // .report__box
  &__box {
  }
  // .report__img-span
  &__img-span {
  }
  // .report__span
  &__span {
  }
  // .report__img-graph
  &__img-graph {
    position: relative;
    padding-bottom: 10px;
  }
  // .report__span-absolute
  &__span-absolute {
    @include pos(absolute, $bottom: -5px, $left: 10px);
  }

  // .report__wrap-content
  &__wrap-content {
    @include flex($align-items: center);
    gap: 10px;
    &--border {
      padding-bottom: 10px;
      border-bottom: 1px solid #ebeaea;
      margin-bottom: 15px;
    }
  }
  // .report__span-data
  &__span-data {
    @include flex(center, center);
    @include wh(11px);
    border-radius: 50%;

    border: 1px solid #121212;
    font-family: "Segoe UI";
    font-size: 6px;
    line-height: 18px;
    font-weight: 400;
    color: $primaryTextColor;
    &--black {
      background-color: #121212;
    }
    &--blue {
      background-color: #0000ff;
    }
    &--light-blue {
      background-color: #0088ff;
    }
  }
  // .report__text-data
  &__text-data {
    font-family: "Segoe UI";
    font-size: 10px;
    line-height: 18px;
    font-weight: 400;
    color: $primaryTextColor;
  }

  // .report__grid
  &__grid {
  }
  // .report__span-img
  &__span-img {
  }
  // .report__btn-group
  &__btn-group {
    @include flex();
    gap: 30px;
    align-self: flex-end;
  }
  // .report__btn
  &__btn {
  }
}
