// Базовые стили спойлеров
// Сниппет (HTML): spoller

// Блок со спойлерами
.spollers {
  // Заголовок спойлера
  // .spollers__title
  &__box-title {
    &._spoller-active {
      .spollers__title {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    &__title {
      ._spoller-init & {
        cursor: pointer;

        &::before {
          transition: transform 0.5s ease 0s;
        }
      }
    }
  }
  &__box-subtitle {
    &._spoller-active {
      .spollers__subtitle {
        &::before {
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
    &__subtitle {
      ._spoller-init & {
        cursor: pointer;

        &::before {
          transition: transform 0.5s ease 0s;
        }
      }
    }
  }

  // Контент спойлера
  // .spollers__body
  &__body {
    position: relative;
  }

  // .spollers__box
  &__box {
    @include flex(space-between);

    padding: 10px 0 5px;
  }
}

.spollers {
  // .spollers__box-title
  &__box-title {
    width: 100%;
    cursor: pointer;

    background-color: $accentColor;
    @include flex($align-items: center);
    padding: 10px 0 10px 10px;
    &--notbg {
      background-color: transparent;
    }
  }
  // .spollers__title
  &__title {
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    color: $mainColor;
    letter-spacing: 0.4px;
  }
  &__title,
  &__subtitle {
    display: inline-block;
    position: relative;
    cursor: pointer;

    &::before {
      @include pseudo;
      @include background(url("@img/layers/arrow.png"));
      @include wh(12px, 7px);
      @include pos(absolute, $top: 50%, $right: -40px);
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
    }
  }

  // .spollers__box-subtitle
  &__box-subtitle {
    cursor: pointer;
    width: 100%;

    @include flex($align-items: center);

    padding: 2px 0 8px 40px;
  }
  // .spollers__subtitle
  &__subtitle {
    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: $mainColor;

    letter-spacing: 0.4px;

    max-width: 440px;
    &::before {
      right: -40px;
    }
  }
  // .spollers__subbody
  &__subbody {
    padding-left: 20px;
  }

  // .spollers__list
  &__list {
    padding-left: 40px;
  }
}
.spollers__body-item {
  &:nth-child(even) {
    background-color: $bgColor;
  }
}
.spollers__list-item {
  &:nth-child(even) {
    background-color: $bgColor;
  }
  &:nth-child(odd) {
    background-color: #fff;
  }
}
