.checkbox {
  position: relative;
  padding: 6px 0 5px 40px;

  // .checkbox__input
  &__input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
   
    &:checked + .checkbox__label:before {
      @include background(url("@img/layers/check_arrow.png"));
      background-size: 11px 9px;
    }
  }
  // .checkbox__label
  &__label {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 100%;

    font-size: 12px;
    line-height: 1.2;
    font-weight: 400;
    color: $mainColor;
    letter-spacing: 0.4px;

    &:before {
      @include wh(15px);
      @include pseudo;

      box-shadow: inset 0px 0 4px 1px rgba(0, 0, 0, 0.29);

      background-color: #f2f2f2;
      border: 1px solid #999a9a;

      @include pos(absolute, $top: 50%, $left: -30px);
      transform: translateY(-50%);
    }
  }

}
