// <SELECT>
// Снипет (HTML): sel
.select {
  position: relative;
  max-width: 322px;

  // .select__body
  &__body {
    position: relative;
    width: 100%;
  }
  // .select__title
  &__title {
    color: inherit;
    text-align: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    cursor: pointer;
    width: 100%;
    border-radius: 4px;

    height: 41px;
   
  }
  // .select__value
  &__value {
	@include flex(space-between, center);
   
    opacity: 0.7;
    font-family: "Segoe UI Semibold";
    font-size: 12px;
    line-height: 1.2;
    font-weight: 600;
    color: #44424b;
    padding: 0px 15px;
    
    &:before {
      @include pseudo;
      @include background(url("@img/layers/arrow.png"));
      @include wh(12px, 7px);
      @include pos(absolute, $top: 50%, $right: 20px);
      transform: translateY(-50%);
      transition: all 0.3s ease 0s;
      ._select-open & {
        transform: rotate(-180deg);
      }
    }
  }
  // .select__text
  &__text {
    flex: 1 1 auto;
  }
  &__input {
    width: 100%;
    background-color: transparent;
    height: 100%;
  }
  // .select__options
  &__options {
    position: absolute;
    top: 29px;

    min-width: 100%;
    left: 0;
    background-color: #fff;
    border-top: 0;
    border: 1px solid #d9d9d9;
    border-top: 0;
    padding: 10px 0px 5px 0px;
  }
  // .select__scroll
  &__scroll {
    overflow-y: auto;
    overflow-x: hidden;
    // Максимальная высота
    max-height: 200px;
    // Стили скроллбара
    .simplebar-scrollbar {
      &::before {
        //opacity: 1;
      }
    }
  }
  // .select__option
  &__option {
    width: 100%;
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 5px 15px;
    color: inherit;
    &._select-selected {
      background-color: #eee;
    }
    @media (any-hover: hover) {
      &:hover {
        background: #d9d9d9;
      }
    }
  }

  // Конструкция дополнительных данных
  &__row {
    display: inline-flex;
    align-items: center;
  }
  &__asset {
  }
  &__text {
  }

  // Состояния селекта
  &._select-open {
    z-index: 5;
  }
  &._select-disabled {
  }
  &._select-active {
  }
  &._select-focus {
  }
  &._select-multiple {
  }
  &._select-checkbox {
  }
}

// Тег
._select-tag {
  cursor: pointer;
}
