// Заголовки, общие БЄМ блоки и проче...

.title {
  font-family: "OpenSans";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.025em;
  text-align: center;
  color: $primaryTextColor;
  position: relative;
  &--left {
    align-self: flex-start;
  }
  &--location {
    &::before {
      @include pseudo;
      @include background(url("@img/map/location.png"));
      @include wh(22px, 30px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
  &--climate {
    &::after {
      @include pseudo;
      @include background(url("@img/map/climate.png"));
      @include wh(22px, 30px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
  &--celsuis {
    &::after {
      @include pseudo;
      @include background(url("@img/climate/celsius.png"));
      @include wh(28px, 30px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
  &--wall {
    &::after {
      @include pseudo;
      @include background(url("@img/climate/wall.png"));
      @include wh(24px, 25px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
  &--compared {
    &::after {
      @include pseudo;
      @include background(url("@img/climate/compared.png"));
      @include wh(29px, 25px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
  &--verify {
    &::after {
      @include pseudo;
      @include background(url("@img/climate/verify.png"));
      @include wh(29px, 29px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
  &--type {
    &::after {
      @include pseudo;
      @include background(url("@img/construction/architecture.png"));
      @include wh(31px, 24px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
  &--report {
    &::after {
      @include pseudo;
      @include background(url("@img/report/infographic.png"));
      @include wh(22px, 29px);
      @include pos(absolute, $top: 50%, $left: -45px);
      transform: translateY(-50%);
    }
  }
}

.subtitle {
  font-family: "OpenSans";
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $primaryTextColor;
  text-align: center;
  &--bold {
    font-weight: 600;
  }
  &--small {
    font-size: 12px;
    line-height: 15px;
  }
  &--left {
    align-self: flex-start;
    text-align: left;
  }
  &--opacity {
    opacity: 0.8;
  }
}

.text {
  font-family: "OpenSans";
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: $primaryTextColor;
  &--small {
    font-size: 12px;
    line-height: 15px;
  }
  &--red {
    color: #f75445;
  }
}

.span {
}
