// Заголовки, общие БЄМ блоки и проче...

.title {
  font-family: "OpenSans";
font-size: 30px;
line-height: 1.2;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 0.025em;
text-align: center;
color: $primaryTextColor;
position: relative;
&--left{
  align-self:flex-start;
}
&--location{
  &::before{
    @include pseudo;
    @include background(url("@img/map/location.png"));
    @include wh(22px, 30px);
    @include pos(absolute, $top: 50%, $left:-45px);
    transform: translateY(-50%);
  }
}
&--climate{
  &::after{
    @include pseudo;
    @include background(url("@img/map/climate.png"));
    @include wh(22px, 30px);
    @include pos(absolute, $top: 50%, $left:-45px);
    transform: translateY(-50%);
  }
}
 
}

.subtitle {
  opacity: 0.8;
  font-family: "OpenSans";
font-size: 16px;
line-height: 24px;
font-weight: 400;
letter-spacing: 0.025em;
color: $primaryTextColor;
text-align: center;
 
}

.text {
 
 font-family: "OpenSans";
font-size: 13px;
line-height: 20px;
font-weight: 400;
letter-spacing: 0.025em;
color: $primaryTextColor;
&--red{
  color: #f75445;
}

  
}

.span {
}

